* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: auto;
    font-family: 'Manrope', sans-serif;
}

.header {
    position: relative;
    width: 100%;
    height: 370px;
    background: url(../img/tai-hinh-anh-lam-viec-nhom-dep-cho-team.jpg) no-repeat bottom / cover;  
}

.nav {
    padding: 15px 50px;
}

.logo {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
}

.nav > ul {
    display: inline-block;
    float: right;
}

ul {
    list-style: none;
}

.nav > ul > li {
    display: inline-block;
    padding: 0 15px;
    /* position: relative; */
}

.nav > ul > li > a::after {
    content: "";
    display: block;
    width: auto;
    height: 15px;
    background-color: rgba(255, 0, 0, 0);
    bottom: 10%;
    right: 0;

}

.nav > ul li:hover > a {
    color: aqua;
}

div ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    font-weight: bold;
}


.nav > ul > li:nth-last-child(1), .nav > ul > li:nth-last-child(2) {
    padding: 5px;
}

.menu {
    display: none;
    width: 90%;
    height: auto;
    background: #ccc;
    border-radius: 5px;
    padding: 15px 20px;
    position: absolute;
    bottom: 4%;
    right: 5%;
}

.nav > ul li:hover > .menu {
    display: block;
}

.all {
    display: flex;
}

.menu-usage-styleguide {
    display: inline-block;
    /* width: 40%; */
    border-right: 1px solid black;
}

.menu .menu-usage-styleguide .menu-usage {
    margin-bottom: 20px;
}


.gruop-item > ul {
    display: flex;
    flex-direction: column;
}


h2 {
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.gruop-item {
    display: inline-block;
}

.gruop-item > ul {
    padding-right: 60px;
}

.gruop-item ul > li {
    margin-bottom: 5px;
}

.all-2 {
    display: flex;
    column-gap: 70px;
}

.menu-elements-list {
    padding-left: 30px;
}

.gruop-elements-item {
    display: inline-block;
}




