.form {
    width: 80%;
    padding: 20px 25px 15px;
    background-color: rgb(61, 74, 88);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
}

.form:hover input::placeholder {
    color: rgb(250, 173, 7);
    background-color: #ddd;
}

.form:hover button{
    background-color: rgb(250, 173, 7);
    color: #fff;
}


.form-subscribe {
    margin: 0px;
}

h1 {
    padding: 0px;
    margin: 0px;
}

span {
    color: rgb(250, 173, 7);
}

p {
    width: 80%;
    margin: 0px;
    margin-top: 5px;
    color: white;
}

form {
    height: 30px;
    margin-top: 10px;
}

input {
    height: 100%;
    width: 30%;
    min-width: 135px;
    max-width: 250px;
    padding: 0;
    border: none;
    border-radius: 2px;
    font-family: 'Roboto Condensed', sans-serif;
}

::placeholder {
    height: 100%;
    padding-left: 4px;
    padding-top: 10px;
}

button {
    height: 100%;
    width: 20%;
    min-width: 135px;
    max-width: 150px;
    margin-left: 3px;
    border: none;
    border-radius: 2px;
    background-color: rgb(247, 234, 91);
    font-family: 'Roboto Condensed', sans-serif;
}
