@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    position: relative;
    height: 100vh;
    background: rgb(3, 158, 201);
}

.title {
    display: inline-block;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
}

.title > h1 {
    text-align: right;
    font-size: 3rem;
    margin-bottom: 20px;
}

.title > p > span {
    font-size: 2rem;
    font-weight: 300;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: white;
    border-bottom-right-radius: 100%;
    position: relative;
    overflow: hidden; 
}


input[type=checkbox] {
    display: none;
}

.bar span {
    position: absolute;
    display: block;
    width: 30px;
    height: 5px;
    background: rgb(3, 158, 201);
    border-radius: 5px;
    left: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.bar .top {
    top: 15px;
}

.bar .middle {
    top: 25px;
}

.bar .bottom {
    top: 35px; 
}

.bar-2 span {
    position: absolute;
    display: block;
    font-size: 35px;
    top: 10px;
    left: 15px;
    cursor: pointer;
    color: rgb(3, 158, 201);
    transition: 0.3s ease-in-out;
    z-index: -1;
}

input[type=checkbox]:checked ~ label .bar span {
    transform: rotate(90deg);
    opacity: 0;
}

input[type=checkbox]:checked ~ label .bar-2 span {
    z-index: 1;
    transform: rotate(180deg);
}

.nav {
    display: flex;
    width: 20%;
    overflow: hidden;
    opacity: 0;
}

ul {
    list-style: none;
}


a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 50px;
    margin-bottom: 10px;
    color: rgb(3, 158, 201);
    transition: 0.5s ease;
}

li > a:focus {
    background: #ccc;
    color: black;
}


.container:has(input[type=checkbox]:checked) {
    transition: 0.3s ease-out;
    background: white;
}

input[type=checkbox]:checked ~ .nav {
    opacity: 1;
    color: rgb(3, 158, 201);
}






